/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container {
    padding: 16px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

#signinbtn {
    background-color: #4CAF50;
    width: auto;
    text-align: center;
    padding: 10px 20px;
    margin: 0 20px 0 20px;
    color: white;
    
}
#signupbtn {
    background-color: red;
    width: auto;
    text-align: center;
    padding: 10px 20px;
    margin: 0 20px 0 20px;
    color: white;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal-footer {   
    border-top: 0px; 
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   span.psw {
       display: block;
       float: none;
    }
}